*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
}
.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.countdown{
    display: flex;
    justify-content: space-around;

}

.day,.hour,.minute,.second{
    font-size: 3rem;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    border-radius: 8px;
}